*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    min-height: 100vh; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
    display: flex;
    width:80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

section:not(:first-child){
    margin-top: 5%;
}
h2{
    border-bottom: 5px double black;
    font-variant: small-caps;
}
article{
    color: #363535;
    font-variant: normal;
    font-weight: 400;
    width: 80%;
    font-size: 17px;
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
    word-break:keep-all;
}
figure{
    width: 80%;
}
figure>img{
    width: max(100%,400px);
    height: 30%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: #363535;
}
a:active{
    border-bottom: #363535 solid 1px;
}
.dateBtn{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.dateBtn>input{
    width: 40%;
    font-size: 15px;
}
.dateBtn>button{
    width: 100px;
    font-size: 15px;
    height: 30px;
    font-weight: bold;
}
#imgContainer{
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
}
#imgContainer > figure > a > img{
    height: 200px;
    width: 200px;
}